/* misen page css */
html {

    height: 20em;
    font-family: 'Montserrat', sans-serif;
}



#global {

    margin: 0 auto;

    width: 100%;

    height: 100%;

    

}

body {

    /* largeur du body  */


    width: 100%;

    background-color: rgba(0, 0, 0, 0.966);

    color: white;

   
}

/*link colorisation */

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
  }


/* header et h1 */



header {

display: flex;

justify-content: center;

}

header div{
    margin: 5rem;
}

 h1{
    
margin: 10px;
font-size: 50px;
}


section{

    display: flex;
    
    align-items: center;

    flex-direction: column;

}

section div{
        
   display: flex;

    align-items: center;

    flex-direction: column;

    margin: 1em;

}


iframe{
    width: 100%;
    padding-bottom: 20px;
}
/*---------------------------footer style----------------------------*/

footer {

    padding-top: 1em;

    display: flex;
    
    align-items: center;

    flex-direction: column;
    
    background-color: rgba(27, 27, 27, 0.966);

    padding-bottom: 1rem;
    
    background-image:
          linear-gradient(rgba(255, 255, 255, 0.01) 2px, transparent 2px),
          linear-gradient(90deg, rgba(255,255,255,0.01) 2px, transparent 2px),
          linear-gradient(rgba(255,255,255,0.01) 1px, transparent 1px),
          linear-gradient(90deg, rgba(255,255,255,0.01) 1px, transparent 1px);
        background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
        background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
      
    
    }

    #ig{
        margin: 10px;
        width: 50px;
    }

    #ig:hover{

        fill: white;
        
    }

    #bottom{
        
        display: flex;
        justify-content: center;
        width: 90%;
        align-items: center;
    }

